.folderContextOptionsWrapper {
    position: fixed;
    background: #363545;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1000;
}

.folderContextButton {
    color: white;
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
}

.folderContextButton:hover {
    background: #4d4b4b;
}